---
- name: ensure ubuntu packages
  hosts: staging, production
  tags: packages
  become: yes
  tasks:
    - name: add key for yarn PPA
      apt_key:
        url: https://dl.yarnpkg.com/debian/pubkey.gpg
        state: present

    - name: configure yarn PPA
      apt_repository:
        repo: deb https://dl.yarnpkg.com/debian/ stable main
        filename: yarnpkg
        state: present

    - name: add key for node PPA
      apt_key:
        url: https://deb.nodesource.com/gpgkey/nodesource.gpg.key
        state: present

    - name: configure node PPA
      apt_repository:
        repo: deb https://deb.nodesource.com/node_12.x bionic main
        filename: nodesource
        state: present

    - name: install apt packages
      apt:
        pkg: "{{ item }}"
        update_cache: yes
      loop:
        - yarn
        - git
        - nodejs
        - nginx
        - postgresql
        - python3-psycopg2
        - htop
        - tree
        - silversearcher-ag
        - multitail

- name: create owner account
  hosts: staging, production
  tags: owner
  become: yes
  vars_files:
    - public.yaml
  tasks:
    - name: create owner
      when: inventory_hostname not in groups.development
      user:
        name: "{{ owner.username }}"
        password: "{{ owner.password | password_hash('sha512') }}"
        shell: /bin/bash

- name: provision database
  hosts: staging, production
  tags: db
  become: yes
  become_user: postgres
  tasks:
    - name: create database user
      postgresql_user:
        name: "{{ postgres.username }}"
        password: "{{ postgres.password }}"

    - name: create database
      postgresql_db:
        name: "{{ postgres.database }}"
        owner: "{{ postgres.username }}"

- name: update source code
  hosts: staging, production
  tags: build, update
  become: yes
  become_user: "{{ owner.username }}"
  vars_files:
    - public.yaml
  tasks:
    - name: clone application from GitHub
      git:
        repo: "{{ git_repo }}"
        dest: "{{ dir_abs_app }}"
        version: master

- name: build everything
  hosts: staging, production
  tags: build, update
  become: yes
  become_user: "{{ owner.username }}"
  vars_files:
    - public.yaml
  tasks:
    - name: create server .env file
      template:
        src: templates/dot-env.server
        dest: "{{ dir_abs_server }}/.env"
        mode: 0400

    - name: install node modules for user interface
      yarn:
        path: "{{ dir_abs_ui }}"

    - name: install node modules for server
      yarn:
        path: "{{ dir_abs_server }}"

    - name: build production ui
      command:
        chdir: "{{ dir_abs_ui }}"
        cmd: yarn build

    - name: build production server
      command:
        chdir: "{{ dir_abs_server }}"
        cmd: yarn build

- name: provision process manager
  hosts: staging, production
  tags: pm2
  become: yes
  become_user: "{{ owner.username }}"
  vars_files:
    - public.yaml
  tasks:
    - name: install pm2 # run as root, installs in /usr/local/bin
      become_user: root
      yarn:
        name: pm2
        global: yes

    - name: create pm2 directory
      file:
        path: "{{ dir_abs_pm2 }}"
        state: directory
        mode: 0755

    - name: configure pm2
      template:
        src: templates/ecosystem.config.js
        dest: "{{ dir_abs_pm2 }}/ecosystem.config.js"
        mode: 0444

    - name: start server
      command: pm2 start "{{ dir_abs_pm2 }}/ecosystem.config.js"

- name: provision nginx
  hosts: staging, production
  tags: nginx
  become: yes
  vars_files:
    - public.yaml
  tasks:
    - name: disable nginx default configuration
      file:
        path: "{{ dir_abs_nginx_enabled }}/default"
        state: absent

    - name: copy nginx config file
      template:
        src: "templates/{{ nginx_config }}"
        dest: "{{ dir_abs_nginx_available }}/{{ filename_nginx_conf }}"
        mode: 0444

    - name: enable nginx configuration
      file:
        src: "{{ dir_abs_nginx_available }}/{{ filename_nginx_conf }}"
        dest: "{{ dir_abs_nginx_enabled }}/{{ filename_nginx_conf }}"
        state: link

    - name: restart nginx
      service:
        name: nginx
        state: restarted
